h1 {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.katex {
    font-size: 1.0em;
}


.slidev-vclick-target {
    transition: opacity 300ms ease;
}

.slidev-vclick-hidden {
    opacity: 0;
    pointer-events: none;
}